@import "../../style/mixin.scss";

.broke-main-content{
  padding-top: $common-wd;
  .broke-header{
    @include font(32px, #999);
    padding: 0 $common-wd;
  }
  .broke-form{
    background-color: #fff;
    min-height: 250px;
    margin-top: $common-wd;
    @include flex;
    flex-direction: column;
    p:nth-of-type(1){
      @include font(40px);
    }
    p:nth-of-type(2){
      @include font(40px);
      ::-webkit-input-placeholder{ 
        color: #ccc; 
      }
      margin-top: $common-wd;
      input{
        border: none;
        @include font(40px);
        width: 180px;
      }
    }
  }
}