@import "../../style/mixin.scss";
@import "../../assets/iconfonts/iconfont.css";

.pro-list-con{
  padding-top: $common-wd;
}
.pro-list-ul{
  background-color: #fff;
  .pro-item{
    min-height: 140px;
    padding: $common-wd;
    border-bottom: 1PX solid #eee;
    @include flex(space-between);
    .pro-item-select{
      @include flex;
      .pro-select-status{
        @include font(45px, #ccc);
      }
      .pro-selected{
        color: $base-color;
      }
      .pro-name{
        @include font(36px);
        margin-left: 20px;
        margin-top: 12px;
      }
    }
    .pro-item-edit{
      @include flex;
      .icon-jian{
        @include font(50px, #ccc);
      }
      .pro-num{
        @include font(30px, $text-align: center);
        min-width: 60px;
      }
      .icon-jia{
        @include font(50px, $base-color);
      }
      .edit-active{
        color: $base-color;
      }
    }
  }
}
